.landingpage{
    height: 100vh;
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2022/11/18/18/04/leaves-7600669_640.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items:center;
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    box-shadow: 5px 5px 5px black;
}
.landingpage .container{
    height: 70vh;
    width: 30vw;
    border: solid 1px black;  
    box-shadow: 5px 5px 5px black;
    background: rgba(183, 180, 180, 0.15);
    border-radius: 25px;
     
}
.landingpage .btn-box{
    border: solid 1px black;
    height: 10vh ;
    width: 80%;
    margin:5vh auto 2vh;
    border-radius: 10vh;
}
.landingpage .btn-box button{
    height: 100%;
    width: 50%;
    border-radius: 10vh;
    cursor: pointer;
    transition: all .5s;
    background:rgb(73, 4, 73);
    font-weight: bold;
    /* font-size: 20px; */
    color: gold;
    
}

.landingpage .admin-btn{
    margin: 0;
    box-shadow: 9px 0px  4px gold;
}
.landingpage .user-btn{
    margin-left: 50%;
    /* box-shadow: 0px -7px 4px yellow; */
    box-shadow: -9px 0px  4px gold;
   
}
.landingpage .form-box{
    border: solid 1px black;
    background: rgba(11, 11, 11, 0.13);
    border-radius: 30px;
    margin: 0 2vh;
}
.landingpage input, .landingpage .login-btn{
    display: block;
    margin: 2vh auto;
    min-height: 6vh;
    
}
.landingpage input{
    width: 80%;
    outline: none;
    font-weight: bold;
    padding: 0 1vw;
    border: solid 1px rgb(134,11,134);

}
.landingpage .login-btn{
    width: 30%;
    border: solid 1px rgb(93,11,93);
    background: rgb(134,);
    background:rgb(73, 4, 73);
    border-radius: 20px;
    font-weight: bold;
    color: gold;
}
.landingpage .text-box{
    font-size: 30px;
    text-align: center;
    color: gold;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    font-style: italic;
}
.landingpage .forgetten{
    margin: 5vh 0;
    text-align: center;
}
.landingpage .forgetten button{
    border: none;
    background: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    color: white;
    cursor: pointer;
}
.landingpage button:active{
    transform: scale(0.9);
}