.read-book{
    width: 50%;
    margin: auto;
}
.read-book .card{
    border: solid 1px black;
    width: 40vw;
    margin: 5vh;
    box-shadow: inset 1px 1px 20px rgb(255, 3, 255);
    border-radius: 10px;
    background: rgb(255, 189, 255);
    text-align: center;
}
.read-book .card .title{
    margin: auto;
    text-align: center;
    font-style: italic;
    color: orange;
    text-decoration: underline;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
}
.read-book .card img{
    margin: 10px;
    width: 40%;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    text-align: center;
}
.read-book .card button{
    width: 60%;
    background:rgba(255, 255, 255, 0.431);
    border: none;
    border-radius: 10px;
    margin: 1vh;
    box-shadow: inset 1px 1px 10px rgb(0, 255, 0);
    padding: 10px;
    color: brown;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    transition: all .5s;
    cursor: pointer;
}
.read-book .card button:hover{
    box-shadow:  1px 1px 10px rgb(0, 255, 0);
    transform: scale(1.05);
}
.read-book .card .back{
    display: flex;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}
.read-book .card .back .add{
    background-color: chocolate;
    color: aqua;
    box-shadow: inset 1px 1px 10px black;
}
.read-book .card .back .add:hover{
    box-shadow:  1px 1px 10px black;

}
.read-book .card h4{
    padding: 10px;
    text-align: center;
    margin: auto;
    font-style: italic;
    font-weight: normal;
    color: rgb(72, 0, 255);
}