.user-container table{
    height: 40vh; 
    width: 60vw;
    margin: auto;
    border-radius: 10px;
    /* border: solid 2px black; */
    box-shadow: 9px 9px 9px black;
}
.user-container .button{
    padding: 10px ;
    margin: 5vh auto;
    display: flex;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px purple;
    font-weight: bold;
    background-color: rgb(231, 51, 237);
}
.user-container table thead{
    background: gold;
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    
}
.user-container table tbody{
    background: rgb(236, 165, 236);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
}
.user-container table tbody td button{
    padding: 8px;
    border-radius: 7px;
    width: 5vw;
    font-weight: bold;
    /* background: pink; */
    box-shadow:  2px 2px 10px 2px blue;
    color: black;
    transition: all .5s;
}
.user-container table tbody td button:hover{
    background: 1px 1px  blue;
    color: white;
    transform: scale(1.1);
}


